:root{
    --bg-color:#000f;
    --primary-color: #1B2430;
    --secondary-color: #585858;
    --primary-text-color: #4ECCA3;
    --secondary-text-color: #045757;
    --button-color: #2970da;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 10;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(255, 255, 255);
}
header{
    position: relative;
    width: 100%;
    font-size: 1.5rem;
    height: 100;
    padding-top: 50px;
    padding-left: 0px;
}
nav{
    display: contents;
    justify-content: space-around;
    align-items: left;
    width: 100%;
    height:80px;
}
nav img{
    padding-top: 14px;
}
nav ul{
    display: flex;
}
nav ul li{
    padding: 2rem 2rem;
    font-size: 15px;
}
nav ul button{
    width: 5rem;
    height: 3rem;
    margin-top: 17px;
    border-radius: 8px;
    font-size: 13px;
    color: aliceblue;  
    font-family: 'Roboto', sans-serif; 
    letter-spacing: 1px;
    font-size: 13px;
    margin-left: 16rem;
    background-color: var(--button-color);
}
nav ul button:hover{
    background-color: #3c2a8b;
  }
header a{
    list-style: none;
    color: var(--secondary-color);
}
.sec-div{
    margin-top: 100px;
}
.sec-home{
    filter: brightness(60%);
    background-image: url('https://html-css-simply-recipes.netlify.app/assets/main.jpeg');
    background-size: cover;
    background-position:center;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    line-height: 6rem;
}
.container1{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 0px;
    margin-bottom: -250px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
#main-home{ 
    width: 80%; 
    display: grid;
    border: none;
    margin-top: 120px;
    margin-left: 215px; 
    margin-right: 1px;
    grid-template-columns: repeat(auto-fill, 320px);
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
#main1 {  
    display: grid;
    border: none;
    margin-top: 25px;
    margin-left: 10px; 
    margin-right: 1px;
    margin-bottom: 70.5px;
    grid-template-columns: repeat(auto-fit, 320px);
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
#main2 {  
    display: grid;
    border: none;
    margin-top: 25px;
    margin-left: 10px; 
    margin-right: 1px;
    margin-bottom: 70.5px;
    padding-left: 20px;
    grid-template-columns: repeat(auto-fill, 320px);
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    
}

#main-Tag-tem{ 
    width: 80%; 
    display: grid;
    border: none;
    margin-top: 50px;
    margin-left: 70px; 
    margin-right: 1px;
    grid-template-columns: repeat(auto-fill, 320px);
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
#main4 { 
    width: 80%; 
    display: grid;
    border: none;
    margin-top: 0;
    margin-left: 130px; 
    margin-right: 1px;
    grid-template-columns: repeat(auto-fill, 320px);
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0%;
}
.tt-Beef{
    display: flex;
    position: relative;
    justify-content: left;
    padding-left: 70px;
    font-size: 30px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

.container2 {
    display: flex;
    justify-content: left;
    padding: 2rem;
}

.container3 {
    display: flex;
    justify-content: left;
    padding: 2rem;
}
.btn-tag{
    margin: 1px 50px;
    padding: 10px 2.5cm;
    font-size: 14px;
    background-color: rgb(80, 95, 108);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    display: flex;
}
.btn-tag2{
    margin: 1px 50px;
    padding: 10px 2.5cm;
    font-size: 14px;
    background-color: rgb(80, 95, 108);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    display: flex;
}
.btn-tag:hover {
    background-color: #0056b3;
}
.btn-tag2:hover {
    background-color: #0056b3;
}
.div-abt{
    height: 10cm;
    width: 40%;
    padding: 10px;
    padding-right: 35px;
    line-height: 25px;
    margin-left: 60px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
}
 .div-con p{
  font-size: 15px;
 } 
 .div-con h1{
  font-weight: 3000;
  font-size: 40px;
  line-height: 30px;
 }
.con-tact{
    height: 23em;
    width: 35%;
    padding: 18px;
    background-color: rgb(253, 253, 253);
    margin-left: 49em;
    margin-top: -390px;
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5), 
    0 5px 5px -5px rgba(0,0,0,0.5), 
    -5px 0 5px -5px rgba(0,0,0,0.5);
    border-radius: 5px;
}
.in-con-tact{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-width: none;
    border-color: none;
}
.in-con-tact label{
    padding: 3px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0%;
    letter-spacing: 0.45px;
}
.div2-con{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    padding-top: 12px;
    letter-spacing: 1px;
    padding-bottom: 5px;
}

.footer {
    position:relative;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(69, 69, 69);
    color: white;
    text-align: center;
    padding:10px;
    text-decoration: none;
}   
.footer a{
    text-decoration: none;
    color: #fff;
}
.div-con{
    display: grid;
    position: relative;
    height: 10cm;
    width: 50%;
    padding: 10px;
    padding-right: 35px;
    line-height: 25px;
    margin-left: 3.5em;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
}
.div-abt p{
    font-size: 15px;
    margin: 0;
} 
.div-abt h1{
    font-weight: 3000;
    font-size: 35px;
    line-height: 50px;
    margin-bottom: -8px;
}
.con-tact1{
    margin-left: 49em;
    margin-top: -390px;
}
.in-con-tact1{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-width: none;
    border-color: none;
}
.in-con-tact1 img{
    padding: 20px;
    height: 26em;
    width: 38em;
    margin-top: -20px;
    margin-left: -140px;
    border-radius: 25px;
}
.but-abt{
    padding: 8px;
    width: 2cm;
    font-size: 15px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    background-color: #4353e0;
}
.but-abt:hover{
    background-color: #310adf;
}
#main-Tag-rec{ 
    width: 80%; 
    display: grid;
    border: none;
    margin-top: 280px;
    margin-left: 70px; 
    margin-right: 1px;
    grid-template-columns: repeat(auto-fill, 320px);
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
.container-rec{
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 0px;
    margin-bottom: -250px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
.in-con-sr img{
    justify-content: left;
    display: grid;
    position: relative;
    width: 33rem;
    height: 8cm;
    border-radius: 4px;
    margin-left: 70px;
    margin-top: 25px;
}
.div-sr{
    height: 10cm;
    width: 50%;
    padding: 10px;
    padding-right: 35px;
    line-height: 23px;
    margin-left: 600px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
    margin-top: -370px;
}  
.div-sr p{
    font-size: 14px;
    margin: 0;
    color: #585858;
} 
.div-sr h1{
    font-weight: 200;
    font-size: 33px;
    line-height: 50px;
    margin-bottom: -8px;
    letter-spacing: 1.6px;
}
.prp-time{
    display: grid;
    grid-template-columns: repeat(auto-fill, 170px);
    margin-left: 27px;
}
.in-prp-time{
    margin-left: 20px;
} 
.in-prp-time img{
    height: 35px;
    padding-left: 10px;
}
.in-prp-time2{
    margin-left: 12px;
    font-size: 11.5px !important;
    letter-spacing: 0.8px !important;
    color: #000000 !important;
    font-weight: 3000px !important;
} 
.in-prp-time2 img{
    height: 35px;
    padding-left: 0px;
}
.in-prp-time p{
    font-size: 11.5px;
    letter-spacing: 0.8px;
    color: #000000 !important;
    font-weight: 3000;
}
.in-prp-time-a1{
    font-size: 12px;
    font-weight: 20px;
    color: #585858;
    text-align: center;
    padding-left: 6px;
}
.in-prp-time-a2 {
    font-size: 12px; 
    font-weight: 20px;
    color: #585858;
    text-align: center;
    padding-left: 6px;
}
.in-prp-time-a3{
    font-size: 12px;
    font-weight: 20px;
    color: #585858;
    text-align: center;
    padding-left: 1px;
}
.btn-sr{
    margin-top: 15px;
    font-family:  'Roboto', sans-serif;
}
.in-btn-sr a{
    font-size: 9px;
    font-weight: 600;
}
.btn-sing{
    font-size: 3px;
    font-weight: bold;
    color: aliceblue;
    background-color: #5a68e4;
    margin-right: 2px;
    border-radius: 3px;
    border-color: none;
    border-width: none;
    letter-spacing: 0.3px;
    padding: 3px;
}
.btn-sing:hover{
    background-color: #3c2a8b;
}
.sing-con1{
    font-family: 'Roboto', sans-serif;
    height: 10cm;
    width: 18cm;
    margin-left: -540px;
    margin-top: 40px;
   }
  
   .sing-con1 h2{
    font-weight: 100;
    padding-bottom: 6px;
   }
  
   .sing-con1 a{
    font-weight: bold;
    color: #5a68e4;
   }
  
   .sing-con1 hr{
    margin-top: -13px;
    width: 16cm;
    margin-left: 70px;
    border: 1.35px solid #c9cce7;
   }
  
   .sing-con1 p{
    margin-top: 15px;
    padding-bottom: 20px;
   }
  
   .sing-con2{
    font-family: 'Roboto', sans-serif;
    height: 6.5cm;
    width: 8cm;
    margin-top: -375px;
    margin-left: 200px;
   }
   
   .sing-con2 h2{
    font-weight: 100;
    padding-bottom: 6px;
   }
  
   .sing-con2 hr{
    border: 1.35px solid #c9cce7;
    margin-bottom: 25px;
   }
  
   .sing-con2 a{
    font-weight: 100;
    font-size: 13px;
    color: #585858;
   }
  
   .sing-con3{
    height: 6.5cm;
    width: 8cm;
    font-family: 'Roboto', sans-serif;
    margin-left: 200px;
    margin-top: -10px;
   }
  
   .sing-con3 h2{
    font-weight: 100;
    padding-bottom: 6px;
   }
  
   .sing-con3 hr{
    border: 1.35px solid #c9cce7;
    margin-bottom: 25px;
   }
  
   .sing-con3 a{
    font-weight: 100;
    font-size: 13px;
    color: #5a68e4;
   }
  
@media screen and (max-width:902px){
    header nav{
        background-color: #045757;
    }
    nav ul {
        height: 8px;
        display: grid;
        text-align: center;
    }
    nav ul button{
        align-items: center;
        display: grid;
        justify-content: center;
        margin-left: 125px;
        text-align: center;
    }
    .sec-div{
        margin-top: 540px;
    }
    .sec-home{
        margin-top: 550px;
        display: grid;
        align-items: center;
        text-align: center;
        position:static;
        filter: brightness(60%);
        background-image: url('https://html-css-simply-recipes.netlify.app/assets/main.jpeg');
        background-size: cover;
        background-position:center;
        border-radius: 4px;
        font-family: 'Roboto', sans-serif;
        line-height: 6rem;
    }
    .container1{
        display: grid;
        text-align: center;
    }
    .recipe-list {
        list-style: none;
        padding: 0;
        line-height: 25px;
        margin-left: -10px;
        position: relative;
    }
    #main-home{
        margin-top: 300px;
        margin-left: 80px;
        align-items: center;
        position: relative;
        display: grid;
    }
    .container2 {
        display: grid;
        margin: auto;
        margin-top: 510px;
        margin-left: 80px;
        justify-content: center;
        padding: 2rem;
        margin-bottom: 10px;
    }
    
    .container3 {
        padding: 20px;
        display: grid;
        margin-left: 80px;
        margin-top: -70px;
        justify-content: center;
        padding: 2rem;
    }
    .tt-Beef{
        position: relative;
        justify-content: center;
        margin-top: 550px;
        display: grid;
    }
    .div-con{
        display: grid;
        height: 10cm;
        width: 500px;
        position: relative;
        justify-content: center;
        margin-top: 550px;
        margin-right: 30px;
        margin-left: -10px;
        text-align: center;
    }
    .div-con h1{
        line-height: 3px;
    }
    .div-con p{
        margin-top: -10px;
        margin-bottom: 0px;
    }
    .con-tact{
        height: 23em;
        width: 100%;
        padding: 10px;
        display: grid;
        position: relative;
        margin-top: 1px;
        margin-left: 10px;
        justify-content: center;
    }
    .in-con-tact{
        justify-content: center;
        position: relative;
    }
    #main4{
        display: grid;
        justify-content: center;
        position: relative;
        margin-top: 2rem;
        margin-left: 50px;
    }    
    .div-abt{
        display: grid;
        height: 10cm;
        width: 500px;
        position: relative;
        justify-content: center;
        margin-top: 550px;
        margin-right: 30px;
        margin-left: -10px;
        text-align: center;
    }
    .div-abt button{
        display: grid;
        justify-content: center;
        position: relative;
        align-items: center;
        margin-left: 200px;
    }
    .div-abt h1{
        line-height: 40px;
    }
    .div-abt p{
        margin-top: -10px;
        margin-bottom: 0px;
    }
    .con-tact1{
        height: 23em;
        width: 5cm;
        padding: 10px;
        display: grid;
        position: relative;
        margin-top: 1px;
        margin-left: 100px;
        justify-content: center;
    }
    .in-con-tact1 img{
        padding: 20px;
        height: 25em;
        width: 25em;
        margin-top: -20px;
        margin-left: 55px;
        border-radius: 25px;
        position: relative;
        justify-content: center;
        align-items: center;
        display: grid;
        padding-bottom: 35px;
    }
    .container-rec{
        margin-top: 600px;
        justify-content: center;
        position: relative;
        text-align: center;
    }
    #main-Tag-rec{
        display: grid;
        position: relative;
        justify-content: center;
    }
    .in-con-sr img{
        justify-content: center;
        position: relative;
        display: grid;
        width: 22rem;
        height: 4cm;
        margin-top: 550px;
    }
    .div-sr{
        background-color: #ffffff;
        margin-top: 50px;
        margin-left: 70px;
        height: 10cm;
        width: 23rem;
        display: grid;
        justify-content: center;
        
    }
    .div-sr h1{
        font-size: 25px;
        text-align: center;
        justify-content: center;
        display: ;
    }
    .div-sr p{
        font-size: 15px;
        font-weight: bold;
        display:flex;
        justify-content: center;
        position: relative;
        float: center;
    }
}
