*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}
html{
    height: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    display: block;
    flex-direction: column;
}
header{
    display: inline-block;
    width: 100%;
    padding: 25px 80px;
    position: relative;
}
.logo{
    float: left;
}
nav{
    float: left;
}
nav ul li{
    display: inline-block;
    padding: 15px 15px;
}
nav ul li a{
    text-decoration: none;
    display: inline-block;
    color: black;
    font-weight: 200;
}
nav ul button{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    color: aliceblue;
    background-color: #8525cf;
    border: none;
    border-radius: 5px;
}
nav ul button:hover{
    background-color: #521780;
} 
.toggle-btn{
    width: 35px;
    position: absolute;
    right: 80px;
    top: 40px;
    display: none;
}
.toggle-btn span{
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: black;
    float: left;
    margin-bottom: 8px;
}
.container{
    width: 100%;
    height: 100%;
    position: relative;
    padding-left: 5rem;
    padding-right: 5.5rem;
    padding-bottom: 2rem;
}
.sec-home{
    position: relative;
    background-size: cover;
    background-position:center;
    border-radius: 4px;
    line-height: 1rem;
    font-size: 2rem;
    text-align: center;
    display: grid;
    filter: brightness(50%);
    background-image: url('https://html-css-simply-recipes.netlify.app/assets/main.jpeg');
    margin-top: 30px;
    height: 15rem;
    margin-bottom: 2rem;
}
.sec-home div{
    line-height: 2rem;
}
.sec-home h1{
    padding-top: 70px;
    text-align: center;
    font-size: 60px;
    font-weight: 100;
    color: rgb(255, 255, 255);
}
.sec-home p{
    text-align: center;
    font-size: 25px;
    padding-bottom: 70px; 
    margin-bottom: 0px;
    margin-top: 20px;
    font-weight: 100;
    color: rgb(255, 255, 255);
}
.home-con{
    display: grid;
    grid-template-columns: 200px 1fr;
}
.list{
    color: black;
    margin-top: 1.8rem;
}
.list h2{
    letter-spacing: 1.5px;
    font-weight: 100;
}
.list ul{
    margin-top: 15px;
}
.list ul li{
    padding: 3px;
    list-style: none;
}
.list ul li a{
    text-decoration: none;
    color: #5c5a5a;
}
#card-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem 1rem;
}
.card img{
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}
.card2 img{
    width: 100%;
    height: 13rem;
    object-fit: cover;
    display: block;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
} 
.container1 h4, .container1 p{
    color: #000000;
    line-height: 1.25rem;
    word-spacing: 4px;
}
.container1 h4{
    font-weight: 550;
}
.container1 p{
    font-size: 13.5px;
}
.tag-btn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding-bottom: 3rem;
    text-align: center;
}
.btn{
    background-color: #475569;
    padding: 0.75rem 0;
    border-radius: 3px;
    color: #ffffff;
}
.btn:hover{
    transition: 0.6ms;
    background-color: #0f172a;
}
.tt-beef h2{
    font-weight: lighter;
    letter-spacing: 2px;
}
.sr-main{
    gap: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sr-con1 img{
    margin-top: 4rem;
    width: 100%;
    height: 300px;
    border-radius: 4px;
    object-fit: cover;
    display: block;
}
.sr-con2{
    display: block;
    margin-top: 10px;
    float: right;
}
.sr-con2 h1{
    font-size: 2.5rem;
    font-weight: lighter;
}
.sr-con2 p{
    line-height: 1.8rem;
    color: #475569;
    margin-top: 0;
    max-width: 40em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.in-sr-con2{
    margin-left: 50px;
    gap: 8rem;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
}
.d-in-sr-con2{
    text-align: center;
    display: block;
    line-height: 10px;
}
.d-in-sr-con2 p{
    font-size: 12px;
    color: #000;
    margin-top: 0;
    letter-spacing: 2px;
    margin-bottom: 0;
}
.d-in-sr-con2 a{
    font-size: 12px;
    color: #475569;
}
.in2-sr-con2{
    font-size: 12px;
    font-weight: bold;
    margin-top: 30px;
    width: 100%;
    display: inline-flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}
.btn-sing{
    display: flex;
    font-size: 3px;
    font-weight: bold;
    color: aliceblue;
    background-color: #5a68e4;
    border-radius: 3px;
    letter-spacing: 0.3px;
    padding: 3px;
    border: none;
}
.btn-sing:hover{
    background-color: #3c2a8b;
}
.sr-main2{
    display: grid;
    grid-template-columns: 1fr;
}
.ins-main2{
    width: 100%;
}
.mt-sr-main2{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.in-sr-main2{
    display: flex;
    flex-direction:column;
}
.d-in-sr-main2{
    font-family: 'Roboto', sans-serif;
    height: 6.5cm;
    display: block;
    width: 8cm;
    margin-top: 0;
    margin-left: 50rem;
}
.d-in-sr-main2 h2{
    font-weight: 100;
    padding-bottom: 6px;
}
.d-in-sr-main2 hr{
    border: 1.35px solid #c9cce7;
    margin-bottom: 25px;
}
.d-in-sr-main2 a{
    font-weight: 100;
    font-size: 13px;
    color: #585858;
}
.sr-main{
    gap: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sr-con1 img{
    margin-top: 4rem;
    width: 100%;
    height: 300px;
    border-radius: 4px;
    object-fit: cover;
    display: block;
}
.act-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.act-con1{
    display: block;
    width: 100%;
}
.act-con2{
    display: block;
    margin-top: 50px;
    float: left;
}
.act-con2 h1{
    font-size: 2rem;
    font-weight: lighter;
}
.act-con2 p{
    line-height: 1.6rem;
    color: #475569;
    margin-top: 10px;
    max-width: 40em;
    display: block;
}
.act-con1{
    height: 23em;
    width: 100%;
    padding: 10px;
    display: block;
    position: relative;
    margin-top: 1px;
    margin-left: 10px;
    justify-content: center;
}
.contact-form {
    background-color: white;
    box-shadow: 0 2px 2px rgba(0,0,0,0.5), 0 0 2px rgba(0,0,0,0.5), 2px 0 2px rgba(0,0,0,0.5);
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
  }
  form{
    padding: 12px;
  }

  .form-input {
    display: block;
    margin-bottom: 10px;
  }

  label {
    display: block;
    padding: 4px;
    font-size: 11px;
    margin-bottom: 5px;
    font-weight: lighter;
    letter-spacing: 1px;
  }

  input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 0.25px solid #d9d5d5;
    border-radius: 4px;
    background-color:aliceblue;
  }

  button[type="submit"] {
    background-color: #8525cf;
    color: white;
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #521780;
  }
.div-awe{
    text-align: center;
    padding: 30px;
    margin-top: 10px;
    font-size: 20px;
}
.in-abt1{
    display: block;
    height: 10cm;
    width: 100%;
    line-height: 25px;
    margin-left: 0px;
    margin-top: 85px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
}
.in-abt1 h1{
    font-size: 2.6rem;
    line-height: 50px;
}
.in-abt1 button{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    color: aliceblue;
    background-color: #8525cf;
    border: none;
    border-radius: 5px;
}
.in-abt2{
    position: relative;
    background-size: cover;
    background-position:center;
    border-radius: 4px;
    line-height: 1rem;
    font-size: 2rem;
    text-align: center;
    display: block;
    background-image: url('https://html-css-simply-recipes.netlify.app/assets/about.jpeg');
    margin-top: 20px;
    height: 27.8rem;
    margin-bottom: 2rem;
    width: 100%;
}
.abt-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.act-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
btn{
    cursor: pointer;
    color: white;
    background-color: #8525cf;
    border: transparent;
    border-radius: 4px;
    padding: 0.375rem 0.75rem;
    text-transform: capitalize;
    display: inline-block;
}
btn:hover{
    background-color: #521780;
} 
.sr-main-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    gap: 5rem;
    width: 100%;
}
.in1-sr-main-2{
    display: block;
    position: relative;
    float: left;
    margin-top: 40px;
}
.in1-sr-main-2{
    font-family: 'Roboto', sans-serif;
}
  
   .in1-sr-main-2 h2{
    font-weight: 100;
    padding-bottom: 2rem;
   }
  
   .in1-sr-main-2 a{
    font-weight: bold;
    color: #5a68e4;
   }
  
   .in1-sr-main-2 hr{
    margin-top: -13px;
    width: 16.5cm;
    margin-left: 70px;
    border: 1.35px solid #c9cce7;
   }
  
   .in1-sr-main-2 p{
    margin-top: 15px;
    padding-bottom: 20px;
    line-height: 25px;
   }
   .in2-sr-main-2{
    display: block;
    position: relative;
    float: right;
    justify-content: right;
    margin-top: 40px;
   }
   
   .in2-sr-main-2 h2{
    font-weight: 100;
    padding-bottom: 2rem;
   }
  
   .in2-sr-main-2 hr{
    width: 100%;
    border: 1.35px solid #c9cce7;
    margin-top: 10px;
    margin-bottom: 15px;
   }
  
   .in2-sr-main-2 a{
    margin-top: 15px;
    line-height: 25px;
    padding: 2px;
   }
   .sr-main-3{
    height: 6.5cm;
    width: 8.8cm;
    font-family: 'Roboto', sans-serif;
    float: right;
   }
  
   .sr-main-3 h2{
    font-weight: 100;
    padding-bottom: 2rem;
   }
  
   .sr-main-3 hr{
    width: 100%;
    border: 1.35px solid #c9cce7;
    margin-top: 10px;
    margin-bottom: 15px;
   }
  
   .sr-main-3 a{
    margin-top: 15px;
    line-height: 25px;
    padding: 2px;
    color: #5a68e4;
   }
footer{
    background-color: #292929;
    position: relative;
    justify-content: center;
    text-align: center;
    padding: 15px;
    margin-top: auto;
    color: #ffffff;
}
footer a{
    text-decoration: none;
    color: #ffffff;
}

@media (max-width:1220px) {
    .in1-sr-main-2 hr{
        width: auto;
    }
    .in2-sr-main-2 hr{
        width: 100%;
    }
    .sr-main-3{
        margin-top: 40px;
    }
    .sr-main-3 hr{
        width: 100%;
    }

}
@media (max-width:993px){
    .toggle-btn{
        display: block;
    }
    nav{
        display: none;
        width: 100%;
        border-top: 1px solid #000;
        margin-top: 30px;
        padding-top: 20px;
    }
    nav ul li{
        padding: 15px 0px;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    nav.show{
        display: block;
    }

    #card-con{
        grid-template-columns: 1fr 1fr;
    }
    .tag-btn{
        grid-template-columns: 1fr 1fr;
    }
    .sr-main{
        display: flex;
        flex-direction: column;
    }
    .sr-con1 img{
        width: 100%;
    }
    .sr-con2{
        width: 100%;
    }
    .in-sr-con2{
        width: 100%;
        position: relative;
        gap: 13rem;
        margin-left: 0;
    }
    .act-main{
        grid-template-columns: 1fr;
    }
    .act-con1{
        width: 100%;
        display: block;
        position: relative;
        float: left;
    }
    .contact-form{
        width: 100%;
        position: relative;
        justify-items: left;
        display: block;
        margin-top: 2rem;
    }
    .div-awe{
        margin-top: 25px;
    }
    .abt-main{
        grid-template-columns: 1fr;
        position: relative;
    }
    .in-abt2{
        margin-top: 0px;
        height: 8cm;
        width: 100%;
        margin-bottom: 1rem;
        margin-left: 0;
    }
    .sr-main-2{
        grid-template-columns: 1fr;
    }
    .in2-sr-main-2{
        margin-top: -40px;
    }
    .in2-sr-main-2 hr{
        width: 15cm;
    }
    .sr-main-3{
        float: left;
    }
    .sr-main-3 hr{
        width: 15cm;
    }
}

@media (max-width:910px){
    .in-sr-con2{
        gap: 10rem;
    }
    .contact-form{
        width: 100%;
        position: relative;
        justify-items: left;
        display: block;
    }
}
@media (max-width:550px) {
    #card-con{
        grid-template-columns: 1fr;
    }
    .tag-btn{
        grid-template-columns: 1fr;
    }
    .in-sr-con2{
        margin-left: 0;
        gap: 2rem;
    }
    .d-in-sr-con2 p{
        font-size: 8px;
    }
    .d-in-sr-con2 a{
        font-size: 8px;
    }
    .in-abt2{
        margin-top: 50px;
        height: 6cm;
        width: 100%;
        margin-bottom: 1rem;
        margin-left: 0;
    }
    .in1-sr-main-2 hr{
        width: auto;
    }
    .in2-sr-main-2 hr{
        width: 100%;
    }
    .sr-main-3 hr{
        width: 100%;
    }
}
@media (max-width: 766px) {
    .sec-home h1{
        font-size: 45px;
    }

    .list{
        grid-row: 2;
        grid-column: 1;
    }

    .li-ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #card-con{
        grid-row: 1;
    }
    
    .home-con{
        grid-template-columns: 1fr;
    }
    .in-sr-con2{
        margin-left: 0;
        gap: 5rem;
    }
    .in1-sr-main-2 hr{
        width: auto;
    }
    .in2-sr-main-2 hr{
        width: 100%;
    }
    .sr-main-3 hr{
        width: 100%;
    }
}