*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}
html{
    height: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
header{
    display: inline-block;
    width: 100%;
    padding: 25px 80px;
    position: relative;
}
.logo{
    float: left;
}
nav{
    float: left;
}
nav ul li{
    display: inline-block;
    padding: 15px 15px;
}
nav ul li a{
    text-decoration: none;
    display: inline-block;
    color: black;
    font-weight: 200;
}
nav ul button{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    color: aliceblue;
    background-color: rgb(133, 37, 207);
    border: none;
    border-radius: 5px;
}
nav ul button:hover{
    background-color: rgb(82, 23, 128);
} 
.toggle-btn{
    width: 35px;
    position: absolute;
    right: 80px;
    top: 40px;
    display: none;
}
.toggle-btn span{
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: black;
    float: left;
    margin-bottom: 8px;
}
.container{
    width: 100%;
    height: 100%;
    position: relative;
    padding-left: 5rem;
    padding-right: 5.5rem;
    padding-bottom: 2rem;
}
.sec-home{
    position: relative;
    background-size: cover;
    background-position:center;
    border-radius: 4px;
    line-height: 1rem;
    font-size: 2rem;
    text-align: center;
    display: grid;
    filter: brightness(50%);
    background-image: url('https://html-css-simply-recipes.netlify.app/assets/main.jpeg');
    margin-top: 30px;
    height: 15rem;
    margin-bottom: 2rem;
}
.sec-home div{
    line-height: 2rem;
}
.sec-home h1{
    padding-top: 70px;
    text-align: center;
    font-size: 60px;
    font-weight: 100;
    color: rgb(255, 255, 255);
}
.sec-home p{
    text-align: center;
    font-size: 25px;
    padding-bottom: 70px; 
    margin-bottom: 0px;
    margin-top: 20px;
    font-weight: 100;
    color: rgb(255, 255, 255);
}
.home-con{
    display: grid;
    grid-template-columns: 200px 1fr;
}
.list{
    color: black;
    margin-top: 1.8rem;
}
.list h2{
    letter-spacing: 1.5px;
    font-weight: 100;
}
.list ul{
    margin-top: 15px;
}
.list ul li{
    padding: 3px;
    list-style: none;
}
.list ul li a{
    text-decoration: none;
    color: #5c5a5a;
}
#card-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem 1rem;
}
.card img{
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}
.card2 img{
    width: 100%;
    height: 13rem;
    object-fit: cover;
    display: block;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
} 
.container1 h4, .container1 p{
    color: #000000;
    line-height: 1.25rem;
}
footer{
    background-color: #292929;
    position: relative;
    justify-content: center;
    text-align: center;
    padding: 15px;
    margin-top: auto;
    color: #ffffff;
}
footer a{
    text-decoration: none;
    color: #ffffff;
}
@media (max-width:993px){
    .toggle-btn{
        display: block;
    }
    nav{
        display: none;
        width: 100%;
        border-top: 1px solid #000;
        margin-top: 30px;
        padding-top: 20px;
    }
    nav ul li{
        padding: 15px 0px;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    nav.show{
        display: block;
    }

    #card-con{
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width:550px) {
    #card-con{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 766px) {
    .sec-home h1{
        font-size: 45px;
    }

    .list{
        grid-row: 2;
        grid-column: 1;
    }

    .li-ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #card-con{
        grid-row: 1;
    }
    
    .home-con{
        grid-template-columns: 1fr;
    }

}